@using System.Data
@model System.Data.DataTable
@*@model IEnumerable<H1.Models.Store>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
請輸入要查詢的店家：
<form action="@Url.Action("Index","Home")" method="post">
    <input id="Text1" type="text" name="keyword" />
    <input id="Submit1" type="submit" value="送出" />
</form>
<hr />
<div class="row">
    @foreach (DataRow row in Model.Rows)
    {
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2>店名:@row[4]</h2>
                </div>
                <div class="panel-body">
                    <h3>地址:@row[1]</h3>
                    <h3>電話:@row[2]</h3>
                    <a href="https://www.google.com.tw/maps/search/@row[1]" target="_blank">走吧～</a>
                </div>
            </div>
        </div>
    }
</div>



