
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="@Url.Action("Login")" method="post">
    Member acc:
    <input id="id" type="text" name="id" />
    pw:
    <input id="name" type="password" name="password" />
    身分別?
    <select id="Select1" name="option">
        <option value="1">使用者會員</option>
        <option value="2">店家非會員</option>
        <option value="3">店家會員</option>
        <option value="4">管理者</option>
    </select>
    <input id="Submit1" type="submit" value="登入" />
    
    <hr />
    @ViewBag.Msg
</form>