@model List<H1.Models.Store>
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>option1</h2>
<div>

    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2>店名:@Html.DisplayFor(modelitem => item.StoreIdentifyChineseName)</h2>
                </div>
                <div class="panel-body">
                    <h3>地址:@Html.DisplayFor(modelitem => item.StoreAddress)</h3>
                    <h3>電話:@Html.DisplayFor(modelitem => item.StoreTelephone)</h3>
                    <h3>特價:@Html.DisplayFor(modelitem => item.StoreText)</h3>
                    <a href="https://www.google.com.tw/maps/search/@Html.DisplayFor(modelitem => item.StoreAddress);" target="_blank">走吧～</a>
                </div>
            </div>
        </div>
    }
</div>